.todo-table {
    width: 500px;
    border-collapse: collapse;
    margin: 20px;
}

.todo-table th, .todo-table td {
    border: 1px solid #ddd;
    padding: 8px;
    height: 40px;
}

.todo-table th {
    background: #f4f4f4;
}

.input-row {
    margin: 20px;
}

.delete-btn {
    cursor: pointer;
    color: purple
}